body {
	font: normal 100% Helvetica, Arial, sans-serif;
}

#content {
	margin: 40px auto;
	padding: 0 1em;
	max-width: 60em; 
}

.atm_input {
	margin: 10px auto;
	width: 90%;
}

.atm_input .keypad {
	margin: 10px auto;	
}

.keypad button {
	width: 100%;
	font-size: 100%;	
}

.atm_display label, .atm_display input {
	display: block;
	width: 99%;
}

.error {
	color: red;
}

table {
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 0.2em;
}